%ul
  %li
    %a{:href => "/forms/released_animal"} Animal List
  %li
    %a{:href => "/forms/released_animal/new"} New Animal
  %li
    %a{:href => "/forms/track"} Radiotracking Overview
  %li
    %a{:href => "/forms/track/new"} New Radiotracking Data
